/*=================================================================================
|                                Privacy Notice                                   |
=================================================================================*/

.pn_frame1 {
	padding-top: 119px;
	.frm-cntnr {
		padding: 50px 0;
		max-width: 1000px;
		.privacy-title {
			text-align: center;
			margin-bottom: 20px;
			* {
				font-family: Ubuntu;
				font-size: 36px;
				text-transform: uppercase;
				color: $green;
			}
		}

		.privacy-desc {
			.text-justify {
				text-align: justify;
			}
			h5 {
				font-size: 16px;
				color: $green;
				font-weight: bold;
			}
		}


	}
}

/*=================================================================================
|                                Mobile Responsive                                |
=================================================================================*/

@media screen and (max-width: 1024px) {

	.pn_frame1 {
		padding-top: 60px;
	}

	.pn_frame1 .frm-cntnr {
		width: 90%;
	}

	.pn_frame1 .frm-cntnr .privacy-title * {
		font-size: 24px;

	}

	.pn_frame1 .frm-cntnr .privacy-title {
		padding: 20px 0;
		padding-top: 30px;
	}
	
	
}